<!-- <svg viewBox="0 0 1440 124" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M838 0H895V39H908V9H965V39H978V1H1035V19H1067V9H1124V18H1145V10H1202V47H1208V29H1224V18H1281V52H1294V29H1344V16H1401V44H1426V77H1440V124H1435H1383V101H1369V73H1351V86H1329V109H1291V124H1234V104H1206V124H1149V105H1134V124H1077V95H1057V124H1000V96H978V124H921V96H895V124H838V86H819V124H762V115H740V124H683V106H655V124H598V106H572V124H515V108H483V95H448V124H391V86H368V107H341V124H284V106H232V86H217V124H160V106H137V124H80V95H109V86H52V124H0V29H35V67H52V29H109V49H166V68H188V29H245V49H277V21H334V50H354V29H411V79H443V38H500V51H522V9H579V49H617V77H636V49H668V20H725V58H759V48H785V29H838V0ZM879 76H842V57H879V76ZM1013 58H1028V76H1013V58ZM1085 87V66H1096V75H1111V87H1085ZM1251 95V86H1265V75H1272V95H1251ZM1194 67H1168V87H1194V67ZM936 66H956V80H936V66ZM715 77H693V95H715V77ZM540 66H560V86H540V66ZM311 78V96H289V78H311Z" fill="white"/>
</svg> -->
<svg class="mt-6" viewBox="0 0 1439 78" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="1439" y="3.00006" width="1439" height="3" transform="rotate(-180 1439 3.00006)" class="fill-blue-50"/>
    <rect x="1439" y="21.0001" width="1439" height="5" transform="rotate(-180 1439 21.0001)" class="fill-blue-50"/>
    <rect x="1439" y="37.0001" width="1439" height="8" transform="rotate(-180 1439 37.0001)" class="fill-blue-50"/>
    <rect x="1439" y="55.0001" width="1439" height="13" transform="rotate(-180 1439 55.0001)" class="fill-blue-50"/>
    <rect x="1439" y="78.0001" width="1439" height="20" transform="rotate(-180 1439 78.0001)" class="fill-blue-50"/>
    </svg>

<footer class="flex sm:gap-40 gap-10 bg-blue-50 text-black py-8 px-6">
    <div class="flex flex-col gap-2">
        <span class="font-semibold">Ceol Labs &#169; 2023</span>
        <div class="flex flex-col gap-2">
            <a href="#" class="w-max border-b-2 border-dashed border-black">Terms & Policies</a>
            <a href="#" class="w-max border-b-2 border-dashed border-black">Privacy Policy</a>
        </div>
    </div>
    <div class="flex justify-start items-start flex-wrap gap-y-2 gap-x-20">
        <a rel="noreferrer" target="_blank" href="https://discord.gg/Rr7dZHcdey" class="flex items-center gap-2 h-max border-b-2 border-dashed border-black">Discord <span class="material-symbols-rounded">arrow_outward</span></a>
        <a rel="noreferrer" target="_blank" href="#" class="flex items-center gap-2 h-max border-b-2 border-dashed border-black">Twitter <span class="material-symbols-rounded">arrow_outward</span></a>
        <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/company/ceol-community/" class="flex items-center gap-2 h-max border-b-2 border-dashed border-black">LinkedIn <span class="material-symbols-rounded">arrow_outward</span></a>
        <!-- <a href="#" class="h-max border-b-2 border-dashed border-black">Blogs</a> -->
        <a href="/meetups" class="h-max border-b-2 border-dashed border-black">Meetups</a>
        <a href="#" class="h-max border-b-2 border-dashed border-black">Sponsors</a>
    </div>
</footer>